a(name="menu")
h2= menuName.label
ul.menu
    each item in menu
        li
            span.name= item.name
            if item['price-large']
                span.price.large= item['price-large']
            if item['price-small']
                span.price.small= item['price-small']
            if item["price-regular"]
                span.price.regular #{item['price-regular']}

a(name="group-menu")
h2= groupMenuName.label
ul.menu
    each item in groupMenu
        li
            span.name= item.name
            span.groupSize= item.groupSize
            span.price= item.price
            span.note= item.note